#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: aqua ;
}

div {
  
  text-align: center;
  background-color: rgb(239, 73, 73);

}

h5 {
  text-align: center;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 400px;
  height: 200px;
  padding-bottom: 10px;
}

#comments {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: blanchedalmond;
}

form {
  background-color: blanchedalmond;
}

